#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.taskform-box {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-between;
  width: 550px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.taskform-item {
  display: flex;
  margin: 0;
  padding: 0;
  width: 545px;
  gap: 10px;
}

#input-form {
  border-color: #808080;
  border-radius: 5px;
  padding: 10px;
  width: 450px;
}

#input-form:hover {
  box-shadow: 0 0 12px 2px rgba(128,128,128,0.2);
}

.task {
  display: flex;
  border: 1px solid #808080;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  width: 545px;
  margin-top: 10px;
  padding: 5px;
  gap: 10px;
}

.task-name {
  text-decoration: underline;
}
